.div-relative-btn {
    position: relative;
}

.div-relative-btn button {
    position: absolute;
    top: 21px;
}
.modal-80 {
    max-width: 80% !important;
}

.modal-60 {
    max-width: 60% !important;
}

.modal-70 {
    max-width: 70% !important;
}

.modal-90 {
    max-width: 90% !important;
}

.modal-85 {
    max-width: 85% !important;
}

.modal-75 {
    max-width: 75% !important;
}

.modal-65 {
    max-width: 65% !important;
}

.modal-50 {
    max-width: 50% !important;
}

.modal-100 {
    max-width: 100% !important;
}

.modal-95 {
    max-width: 95% !important;
}



/* ----------------------- */

.modal-80 {
    max-width: 80% !important;
}

.modal-60 {
    max-width: 60% !important;
}

.modal-70 {
    max-width: 70% !important;
}

.modal-90 {
    max-width: 90% !important;
}

.modal-85 {
    max-width: 85% !important;
}

.modal-75 {
    max-width: 75% !important;
}

.modal-65 {
    max-width: 65% !important;
}

.modal-50 {
    max-width: 50% !important;
}

.modal-100 {
    max-width: 100% !important;
}

.modal-95 {
    max-width: 95% !important;
}
